body{
    background-color: rgb(240, 239, 239);
}
.loader{
    margin: auto;
    margin-top: 32vh;
    position : relative;
    border: 8px solid grey;
    border-radius:50%;
    border-top : 8px solid blue;
    animation : spin 2s linear infinite;
    width : 145px;
    height : 145px;
}
.loadingText{
    position : absolute;
    animation: none;
    top: calc(49% - 32px);
    left: calc(47%);
    font-weight: bold;
}
@media (max-width: 768px) {
    .loadingText{
        top: calc(48% - 22px);
        left: calc(42%);
    }
}
@media (min-width: 1000px) {
    .loadingText{
        top: calc(40% - 16px);
        left: calc(47%);
    }
}
@media (min-width: 1600px) {
    .loadingText{
        display: none;
    }
}
@keyframes spin{
    0% {transform : rotate(0deg);} 
    100% {transform : rotate(360deg);}
}